 .baner{ margin: 0;
        padding: 0;}
.baner h2{
    font-size: 50px;
    color: rgb(248, 245, 245);
    position: absolute;
    top: 26%;
    left: 10%;
}  
.baner h3{

    font-size: 56px;
    color: rgb(245, 242, 242);
    position: absolute;
    top: 37%;
    left: 12%;
}  

@media only screen and (max-width:768px) 
{
    .baner h2{
        top: 37%;
    }

    .baner h2{
        top: 57%;
    }
} 

