<div class="subaner">

    <div class="row">
        <div class="col-md-4 card"><img src="./assets/images/event2.jpg"></div>
        <div class="col-md-4 card"><img src="./assets/images/event11.jpg"></div>
        <div class="col-md-4 card"><img src="./assets/images/event22.jpg"></div>
        
    </div>
    <button class=" btn btn-primary">see more</button>
        
    
</div>
<!-- <div class="container"  > 
            
    <div class="row row-cols-1 row-cols-md-4 g-4" >
      <ng-container *ngFor="let item of shops">
        <ng-container 
         *ngIf="item.cat== cat|| cat==''"> 

        <div class="col" >
          
          <div class="card">
            
            <img [src]="item.image"  [ngStyle]="{'height':'200px','width':'200px'}"    >
            <div class="card-body"appHighlight >
              <h5 class="card-title">{{item.name}}</h5>
              <p class="card-text">Rs{{item.price}}</p>
              <p class="card-text">{{item.offer}}% Discount sale!!</p>
            </div>
         
          </div>
       
        </div>
      </ng-container> 
    </ng-container> 
        
      </div>

<div class="container subaner">

    <div class="row md-4">
        <ng-container *ngFor="let item of events">
          <div class="col">
            <div class="card"
          </div> -->


        <!-- </ng-container>
    </div> 
</div> -->

  
