

  <div class="container-fluid">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-6">
      <div class="container">
        <div class="navbar-brand text-white" style="font-family: 'kavoon', sans-serif; font-size:34px;"><a>eVeNTo</a></div>
        <!-- <img src="imgs/logo.svg" width="70" height="70"><a href="#"  class="navbar-brand text-white" style="font-family: 'kavoon', sans-serif; font-size:34px;">eVeNTo</a> -->
        <button class="navbar-toggler"
         type="button"
          data-bs-toggle="collapse" 
          data-bs-target="#navbarNav" 
          aria-controls="navbarNavDropdown"
           aria-expanded="false" 
           aria-label="Toggle Navbar">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item active"> <a  [routerLink]="['/home']" class="nav-link" href="#">Home</a> </li>
            <li class="nav-item "><a [routerLink]="['/aboutus']"class="nav-link" href="#">About</a></li>
           
            <li class="nav-item "><a [routerLink]="['/event']"class="nav-link" href="#">Event</a></li>
    
           
            <li class="nav-item">
              <a [routerLink]="['/contact']" class="nav-link" href="#">Contact</a>
            </li>
  
          </ul>
        </div>
      </div>
    </nav>
        
    </div>